* {
    margin: 0;
    padding: 0;
    outline: 0;
    border: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

:root {
    --color-primary: #156bd4;
    --color-primary-variant: rgba(21, 107, 212, 0.5);
    --color-gray-0: #fff;
    --color-gray-50: #edecec;
    --color-gray-100: #e6e5e5;
    --color-gray-200: #c0c0c0;
    --color-gray-300: #a1a1a1;
    --color-gray-400: #919191;
    --color-gray-500: #7b7b7b;
    --color-gray-600: #545454;
    --color-gray-700: #313131;
    --color-gray-800: #1f1f1f;
    --color-gray-900: #0e0e0e;
    

    --container-w-lg: 74%;
    --container-w-sm: 94%;

    --transition: all 350ms ease;
} 

html {
    scroll-behavior: smooth;
}

body{
    font-family: "montserrat", sans-serif;
    line-height: 1.6;
    background: var(--color-gray-0);
    color: var(--color-gray-800);
    font-size: .9rem;
    user-select: none;
}

.container {
    width: var(--container-w-lg);
    margin-inline: auto;
    
}

img {
    width: 100%;
    display: block;
    object-fit: cover;
}

h1. h2, h3, h4, h5, h6 {
    line-height: 1.1;
    color: var(--color-gray-900);
    font-weight: 900;
}

h1 {
    font-size: 1.8rem;
}

h2 {
    font-size: 1.6rem;
}

h3 {
    font-size: 1.4rem;
}

h4 {
    font-size: 1.2rem;
}

h5 {
    font-size: 1rem;
}

h6 {
    font-size: .8rem;
}

a {
    transition: var(--transition);
}

.btn {
    background: var(--color-gray-0);
    border: 2px solid var(--color-gray-100);
    color: var(--color-gray-900);
    font-weight: 500;
    padding: .8rem 1.7rem;
    transition: var(--transition);
    cursor: pointer;
}

.btn.primary {
    background: var(--color-primary);
    border-color: var(--color-primary);
    color: white;
}

.btn:hover {
    background: var(--color-primary-variant);
    border-color: transparent;
}

section {
    padding: 10rem 0;

}

section:nth-child(even) {
    background: var(--color-gray-50);
}

section > h1, section > p {
    text-align: center;
    margin-top: .5rem;
    width: 30rem;
    margin-inline: auto;
}


/* ====================AVBAR============================ */
nav {
    background: var(--color-primary);
    width: 100vw;
    height: 3rem;
    display: grid;
    place-items: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9;
}

.nav__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__container a {
    color: white;
    font-weight: 700;
    font-size: 1.1rem;
}

.nav__theme-btn {
    background: transparent;
    color: white;
    font-size: 1.3rem;
    cursor: pointer;
}

/* ====================FLOATING NAVBAR============================ */

.floating__nav {
    position: fixed;
    left: 50%;
    bottom: -8rem;
    transform: translate(-50%);
    background: rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    width: fit-content;
    height: 4.4rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0.4rem;
    padding: .7rem;
    border-radius: 2.2rem;
    opacity: 0;
    z-index: 9;
    animation: animateFloatingNav 1s 2s ease forwards;
}
/* dark theme background */
.dark-theme-variables .floating__nav {
    background: rgba(225, 225, 225, 0.1);
}

@keyframes animateFloatingNav {
    to {
        bottom: 1.5rem;
        opacity: 1;
        transform: translateX(-50%) scale(1);
    }
}


.floating__nav a {
    color: var(--color-gray-900);
    width: 3.2rem;
    aspect-ratio: 1/1;
    display: grid;
    place-items: center;
    border-radius: 50%;
    font-size: 1rem;
}

.floating__nav a.active {
    background: var(--color-primary);
    color: white;
}                                    


/* ====================HEADER SECTION STYLE============================ */
header {
    margin-top: 3rem;
    height: calc(100vh - 3rem);
    display: grid;
    place-items: center;
}
/* make background a gradient on dark theme*/
.dark-theme-variables header {
    background: linear-gradient(var(--color-gray-100), var(--color-gray-0));
}

.header__container {
    width: 36rem;
    text-align: center;

}
.header__image {
    width: 12rem;
    height: 14rem;
    border-radius: 6rem 6rem 2rem 2rem;
    overflow: hidden;
    margin-inline: auto;
    margin-bottom: 2rem;

}

.header__img img {
    height: 100%;
}

.header__container h1 {
    margin: .8rem 0 .1rem;
}

.header__container h1 span {
    color: var(--color-primary);
}

.header__cta {
    margin-top: 1rem;
    margin-bottom: 3rem;
    display: flex;
    gap: 1rem;
    margin-inline: auto;
    width: fit-content;
}

.header__socials {
    position: absolute;
    right: 10%;
    bottom: 4rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.header__socials a {
    background: var(--color-gray-100);
    color: var(--color-primary);
    width: 2.2rem;
    aspect-ratio: 1/1;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: .6rem;
    transition: var(--transition);
}

.header__socials a:hover {
    background: var(--color-primary-variant);
    color: var(--color-gray-0);
}


/*================ RESUME================== */

.resume__container {
    display: grid;
    grid-template-columns: 14rem auto;
    gap: 7rem;
    width: 60%;
}

.resume__left p {
    margin: .5rem 0 .1rem;
}

.resume__left menu {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.resume__left menu button {
    border-color: var(--color-gray-0);
}

.resume__right h4 {
    margin-bottom: .5rem;
    color: var(--color-primary);
}

.resume__right > p {
    margin-bottom: 3.5rem;
}

.resume__right ul {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
}

.resume__right ul li {
    background: var(--color-gray-0);
    padding: 1.5rem;
    border: .4rem solid var(--color-gray-0);
    transition: var(--transition);
    cursor: default;
}

.resume__right ul li:hover {
    background: transparent;
}

.resume__right li h5 {
    color: var(--color-primary);
}

.resume__right li h5 {
    color: var(--color-primary);
    margin: .8rem 0;
}

/* =============education ========================*/

.resume__right.education ul {
    grid-template-columns: 1fr;
}

.resume__right.education li h5{
    margin-top: 0;
}

/*========Skills========*/

.resume__right.skills ul {
    grid-template-columns: repeat(5, 1fr);
    gap: 2rem;
}

.resume__right.skills ul li {
    padding: 1rem;
}

/*=======about=====*/

.resume__right.about ul {
    gap: 0;

}

.resume__right.about li {
    background: transparent;
    display: flex;
    align-items: center;
    padding: 0;
    gap: 0.3rem;
    border: 0;
}

.resume__right.about li h6 {
    color: var(--color-gray-500);

}

.resume__right.about li h5 {
    color: var(--color-gray-900);
}